.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  transition: margin-top 0.15s;
}
/* FIXME: make a grid instead of the flexbox + make the sections move if the resolution is changed to something*/
/* .sections-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} */
.section {
  background-color: rgb(34, 34, 34);
  width: 210px;
  height: 375px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  transition: height 0.15s, background-color 0.15s;
  cursor: default;
}
@media screen and (max-width: 580px) {
  .sections {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:580px) and (max-width: 800px) {
  .sections {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .sections {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
.section:hover {
  background-color: rgb(44, 44, 44);
  height: 425px;
}
.logos {
  position: relative;
}
.logo {
  width: 150px;
}
.corner-logo {
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.title {
  width: 200px;
  margin-bottom: 2px;
  margin-top: 8px;
}
.short-info {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  background-color: rgb(70, 70, 70);
  padding: 7px 15px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.15s;
  cursor: pointer;
}
button:hover {
  background-color: rgb(102, 102, 102);
}
button:active {
  background-color: rgb(131, 131, 131);
}